<%- include('../partials/header.ejs', {
    extraHead: '<link rel="stylesheet" href="/public/css/products.css">'
}) %>

<% if (!products || products.length === 0) { %>
    <p>Nema proizvoda u ovoj kategoriji.</p>
<% } else { %>

<div class="product-grid">

    <% for (let i = 0; i < products.length; i++) { %>
        <div class="product-card">

            <img 
                src="/public/images/products/jackets/<%= products[i].image ? products[i].image : 'placeholder.png' %>" 
                alt="<%= products[i].name %>"
            >

            <div class="product-card-body">
                <div class="product-card-title">
                    <%= products[i].name %>
                </div>

                <% if (products[i].description) { %>
                    <div class="product-card-description">
                        <%= products[i].description.substring(0, 80) %>...
                    </div>
                <% } %>

                <div class="product-card-price">
                    <%= products[i].price %> RSD
                </div>
            </div>

        </div>
    <% } %>

</div>

<% } %>

<%- include('../partials/footer.ejs') %>